<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SvetanFlickrApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SvetanFlickrApp.Properties.Settings.FlickrConnectionString"
      connectionString="Data Source=|DataDirectory|\DB\Flickr.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="FlickrEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Flickr.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SvetanFlickrApp.Properties.Settings.FDBConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DB\FDB.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <SvetanFlickrApp.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value>63619b74e4361d4857e65b827cab055a</value>
      </setting>
      <setting name="SharedSecret" serializeAs="String">
        <value>98200e4436c2ca50</value>
      </setting>
      <setting name="SvetaUserID" serializeAs="String">
        <value>42268376@N06</value>
      </setting>
      <setting name="SvetaAuthToken" serializeAs="String">
        <value>72157625585701964-e284b116b85520e9</value>
      </setting>
      <setting name="AnvarUserID" serializeAs="String">
        <value>33669907@N08</value>
      </setting>
      <setting name="AnvarAuthToken" serializeAs="String">
        <value>72157625482901225-e096749a1a4f4565</value>
      </setting>
      <setting name="DefMinDate" serializeAs="String">
        <value>12/01/2008</value>
      </setting>
      <setting name="DefmaxDate" serializeAs="String">
        <value>06/01/2010</value>
      </setting>
      <setting name="DefPageNum" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefPerpage" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="Comment1" serializeAs="String">
        <value>Fine work {0}!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment2" serializeAs="String">
        <value>Stunning work {0}!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment3" serializeAs="String">
        <value>Real masterpiece {0}!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment4" serializeAs="String">
        <value>Superb work {0}!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment5" serializeAs="String">
        <value>Top class art work here!</value>
      </setting>
      <setting name="Comment6" serializeAs="String">
        <value>Absolutely gorgeous art work!</value>
      </setting>
      <setting name="Comment7" serializeAs="String">
        <value>Very lovely!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment8" serializeAs="String">
        <value>I love this work of art!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment9" serializeAs="String">
        <value>Top league image quality!&lt;br&gt;Bravo {0}!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment10" serializeAs="String">
        <value>Excellent work {0}!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment11" serializeAs="String">
        <value>Very creative!&lt;br&gt;Well done {0}!&lt;br&gt;Bravo!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment13" serializeAs="String">
        <value>Stunning work Bro][er!</value>
      </setting>
      <setting name="Comment14" serializeAs="String">
        <value>Stunning work bratello!</value>
      </setting>
      <setting name="Comment15" serializeAs="String">
        <value>Absolutely beautiful shot!&lt;br&gt;Bravo {0}!</value>
      </setting>
      <setting name="Comment16" serializeAs="String">
        <value>Excellent capture!&lt;br&gt;Bravo {0}!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment17" serializeAs="String">
        <value>Fantatsic shot!&lt;br&gt;Bravo {0}!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment18" serializeAs="String">
        <value>What an amazing catch!&lt;br&gt;Bravo {0}!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment19" serializeAs="String">
        <value>Beautiful capture!&lt;br&gt;Bravo {0}!&lt;br&gt;Fav!</value>
      </setting>
      <setting name="Comment20" serializeAs="String">
        <value>Просто великолепно!</value>
      </setting>
      <setting name="Comment21" serializeAs="String">
        <value>Beautiful shot!!! Well done!!!&lt;br&gt;Bravo {0}!&lt;br&gt;Fav!
</value>
      </setting>
      <setting name="Comment12" serializeAs="String">
        <value>Прекрасная работа!&lt;br&gt;Высший класс!</value>
      </setting>
    </SvetanFlickrApp.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>